/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 30px;
    border-bottom: 2px solid black;
    background-color:rgb(183, 235, 217)
}

main {
    margin-top:20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.add {
    font-weight: bold;
    font-size: 1.2rem;
    border: none;
    background-color:white;
}

.books {
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
    gap: 15px;
}

.card {
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
    border: 5px solid rgb(3, 1, 87);
    border-radius: 20px;
}

dialog[open]{
  display: flex;
  flex-direction: column;;
}